<div class="container p-tb-250">
	<div class="row content-center">
		<h1>Choose Level</h1>
		<a href="/questions/answer?level=level_1" class="btn btn-primary">Level 1</a>
		<a href="/questions/answer?level=level_2" class="btn btn-primary">Level 2</a>
		<a href="/questions/answer?level=level_3" class="btn btn-primary">Level 3</a>
	</div>
</div>